APP_ID=firebase
PWA_URL=
MODE=
# Valid LogLevel values: NONE, DEBUG, INFO, NOTICE, WARNING, ERROR, CRITICAL, ALERT, EMERGENCY
LOG_LEVEL=
LOG_PERSIST_LEVEL=
VM_CONTROLLER_URL=
VM_CONTROLLER_API_KEY=

GMAIL_CLIENT_SECRET=
GMAIL_CLIENT_ID=

FIREBASE_SERVICE_ACCOUNT=
SA_JSON=

GEMINI_API_KEY=
