---
---
<MainLayout>
		<DemoSection />
			<div class="flex justify-center">
				<Picture src={fantasyImage} alt="Fantasy image" class="p-10" height={500} />
			</div>
			<IntroSection />
			<BacklogSection />
</MainLayout>

