---
import Header from '$components/Header.astro';
import DemoSection from '$components/DemoSection.astro';
import BacklogSection from '$components/BacklogSection.astro';
import IntroSection from '$components/IntroSection.astro';

import { Image } from 'astro:assets';
import fantasyImage from '$assets/squad.webp';
---

<!doctype html>
<html lang="en" class="darkmode">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>AiKami Game</title>
	</head>
	<body
		class="bg-background text-text dark:bg-background-dark dark:text-text-dark">
		<Header />
		<main class="p-10">
			<DemoSection />
			<div class="flex justify-center">
				<Image src={fantasyImage} alt="Fantasy image" class="p-10" />
			</div>
			<IntroSection />
			<BacklogSection />
		</main>
	</body>
</html>
