---
const _githubURL = 'https://github.com/BearlySleeping/aikami';
const _featureOrBugsURL = 'https://github.com/BearlySleeping/aikami/issues';
const _roadmapURL = 'https://github.com/users/BearlySleeping/projects/1';
---

<section class="mb-10">
	<h2 class="mb-5 text-center text-3xl font-semibold">GitHub Links</h2>
	<div class="flex justify-center space-x-5">
		<Button href={githubURL} label="GitHub Page" icon="github" />
		<Button
			href={featureOrBugsURL}
			label="Submit feature/bug"
			icon="git_issue"
		/>
		<Button href={roadmapURL} label="Roadmap" icon="roadmap" />
	</div>
</section>
