---
const githubURL = 'https://github.com/BearlySleeping/aikami';
const featureOrBugsURL = 'https://github.com/BearlySleeping/aikami/issues';
const roadmapURL = 'https://github.com/users/BearlySleeping/projects/1';

import Button from '$components/Button.astro';
---

<section class="mb-10">
	<h2 class="mb-5 text-center text-3xl font-semibold">GitHub Links</h2>
	<div class="flex justify-center space-x-5">
		<Button href={githubURL} label="GitHub Page" icon="mdi:github" />
		<Button
			href={featureOrBugsURL}
			label="Submit feature/bug"
			icon="mdi:git-issue"
		/>
		<Button href={roadmapURL} label="Roadmap" icon="mdi:roadmap" />
	</div>
</section>
